{% extends "app/base.html" %}
{% load static %}
{% block title %} About {% endblock title %}

{% block main-content %}
    <div class="container mt-3">
        <br>
        <h2 class="text-center">About Us</h2>
        <br>
        <div class="row container">
            <p class="fs-4 text-center">This is a public limited company havin its 
                registered and corporate office at 
                Pune City of Maharahstra state in india. The company was incorporated in 
                the year 2018 and production commenced in 2020.
                This is one of the fastest growing public Listed Companies i Pune.
            </p>
        </div>

        <br><br>
        <h2 class="text-center">Mission</h2>
        <br>
        <div class="row container">
            <p class="fs-4 text-center">To embrace the right technology to delight our customers
                Empowering the farmer community through our unique "Relationship Farming" model 
                To anticipate, understand and respond to our customers' needs by creating 
                high-quality products and making them available through innovative and 
                convenient channels
            </p>
        </div>
    </div>
{% endblock main-content %}