{% extends "app/base.html" %}
{% load static %}
{% block title %} Address {% endblock title %}

{% block main-content %}
    <div class="container my-5">
        <div class="row">
            <h3>Welcome <span class="text-capitalize">{{request.user}}</span></h3>
        </div> <!-- Closing the .row div -->
        <div class="row"> <!-- Added row class to structure the grid properly -->
            <div class="col-sm-2 border-end">
                <ul class="list-unstyled">
                    <li class="d-grid"><a href="{% url 'app:profile' %}" class="btn">Profile</a></li>
                    <li class="d-grid"><a href="{% url 'app:address' %}" class="btn btn-primary">Address</a></li>
                </ul>
            </div>

            <div class="col-sm-8 offset-sm-1">
                <div class="row">
                    {% if add %}
                        {% for ad in add %}
                            <div class="col-sm-6">
                                <div class="card m-2">
                                    <div class="card-body">
                                        <h3>Address {{ forloop.counter }}</h3>
                                        <p>Name:  {{ ad.name }}</p>
                                        <p>Locality: {{ ad.locality }}</p>
                                        <p>Mobile: {{ ad.mobile }}</p>
                                        <p>Email: {{ ad.email }}</p>
                                        <p>City: {{ ad.city }}</p>
                                        <p>State: {{ ad.state }}</p>
                                        <p>Pincode: {{ ad.zipcode }}</p>
                                        <!-- Update button commented out for now -->
                                        {% comment %} <!-- <p class="text-center"><a href="{% url 'app:updateAddress' pk=ad.id %}" class="btn btn-success">Update</a></p> --> {% endcomment %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <p>No addresses found for this user.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock main-content %}