{% extends "app/base.html" %}
{% load static %}
{% block title %} Category {% endblock title %}

{% block main-content %}
    <div class="container my-5">
        <div class="row">
            <!-- Categories Sidebar -->
            <div class="col-md-3">
                <div class="card">
                    <div class="card-header">
                        <h5>Categories</h5>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            {% for code, name in categories.items %}
                                <li class="list-group-item">
                                    <a href="{% url 'app:category' code %}">{{ name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Products Display -->
            <div class="col-md-9">
                <div class="row">
                    {% for product in products %}
                        {% comment %} <div class="col-md-4">
                            <div class="card">
                                <img src="{{ product.product_image.url }}" class="card-img-top" alt="{{ product.title }}">
                                <div class="card-body">
                                    <h5 class="card-title">{{ product.title }}</h5>
                                    <p class="card-text">{{ product.description }}</p>
                                    <p class="card-text">Price: ${{ product.selling_price }}</p>
                                    <a href="{% url 'app:product-detail' 'product.id '%}" class="btn btn-primary">Buy Now</a>
                                </div>
                            </div>
                        </div> {% endcomment %}
                        <div class="col-md-4">
                            <div class="card">
                                <img src="{{ product.product_image.url }}" class="card-img-top" alt="{{ product.title }}">
                                <div class="card-body">
                                    <h5 class="card-title">{{ product.title }}</h5>
                                    <p class="card-text">{{ product.description }}</p>
                                    <p class="card-text">Price: ${{ product.selling_price }}</p>
                                    <a href="{% url 'app:product-detail' product.id %}" class="btn btn-primary">Buy Now</a>
                                    {% comment %} <a href="{% url 'app:wishlist_view' product.id %}" class="btn btn-primary">Add to Wishlist</a> {% endcomment %}
                                </div>
                            </div>
                        </div>
                        
                    {% endfor %}
                </div>
            </div> 
        </div>
            {% comment %} <div class="col-sm-9">
                <div class="row">
                    {% for prod in product %}
                        <div class="col text-center mb-4">
                            <a href=# class="btn">
                            <div>
                                <img src="{{ prod.product_image.url }}" class="card-img-top" 
                                width="300px" height="200px" alt="{{ product.title }}" />
                                <div class="fw-bold">{{prod.title}}</div>
                                <div class="fw-bold text-danger">
                                    Rs.{{prod.discounted_price}}/-
                                    <small class="fw-light 
                                    text-decoration-line-through">
                                    {{prod.selling_price}}
                                </small>
                                </div>
                            </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div> {% endcomment %}
        </div>
    </div>
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <h5 class="card-title">{{ product.title }}</h5>
        </div>
    <div>
    </div>
{% endblock %}
