{% extends "app/base.html" %}
{% load static %}
{% block title %} Login {% endblock title %}

{% block main-content %}
    <div class="container">
        <div class="row my-3">
            <div class="col-sm-6 offset-sm-3">
                <h3>Password Reset Completed !!! </h3>
                <hr>
            </div>
            <div>
                <iframe src="https://giphy.com/embed/l4Ki4biBSwhjyrS48" width="200" height="200" style="" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/love-flower-valentine-l4Ki4biBSwhjyrS48"></a></p>
            </div>
        </div>
    </div>
{% endblock main-content %}
