{% extends "app/base.html" %}
{% load static %}
{% block title %} Change Password {% endblock title %}

{% block main-content %}
    <div class="container my-5">
        <div class="row">
                <h3>Welcome <span class="text-capitalize">{{request.user.username}}</span></h3>
                <div class="col-sm-2 border-end">
                    <ul class="list-unstyled">
                        <li class="d-grid">
                            <a href="{% url  'app:profile' %}" class="btn btn-primary">Change Password Done</a>
                        </li>
                    </ul>
                </div>
            

            <div class="col-sm-8 offset-sm-1 text-center">
                <h3>Password Changed Successfully! :)</h3>
                {% comment %} <iframe src="https://giphy.com/gifs/Mochimons-kawaii-mochi-mochimons-hxERQNWQudqSF1iDnr"  width="200" height="200" frameBorder="0" class="giphy-embed" allowFullScreen></iframe> {% endcomment %}
                <iframe src="https://giphy.com/embed/l4Ki4biBSwhjyrS48" width="200" height="200" style="" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/love-flower-valentine-l4Ki4biBSwhjyrS48"></a></p>
            </div>
        </div>
    </div> 
{% endblock main-content %}