<!-- wishlist.html -->
{% extends 'app/base.html' %}
{% load static%}

{% block main-content %}
    <h2>Your Wishlist</h2>
    <ul class="list-group">
        {% for item in category.items %}
            <li class="list-group-item">
                {{ item.product.name }}
                <a href="{% url 'add_to_cart' item.product.id %}" class="btn btn-success btn-sm float-end text-center">Add to Cart</a>
            </li>
        {% empty %}
            <li class="list-group-item text-center">Your wishlist is empty.</li>
        {% endfor %}
    </ul>
{% endblock %}
